# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store

# Git
.git/
.gitignore

# Github
.github/

# Docker
Dockerfile

# Documentation
/documentation
/docs

# Dependencies
/node_modules

# Compiled output and runtime
/dist
/bin
/pkg
/sea
/.tsimp
/sea-prep.blob
/dclint

# Tests
/coverage

# Other
Makefile
